body{
    background-color: #66093E;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#top {
    position: absolute;
    top: 0; left: 0;
    background-color: #212F3C;
    color: #ECF0F1;
    height:5%;
    padding:2%;
    width: 100%;
}
#titulo{
    font:normal 2.5em Monaco;
    float: left;
    width: 50%;
    margin-left: 20%;
    text-align: center;
}

#idioma{
    margin-left: 70%;
    font-size: 0.85em;
    width: 20%;
    margin-top: -0.5%;
}

#left {
    position: relative;
    margin-top:5px;
    margin-left: -1%;
    float: left;
    background-color: #66093E;
    padding: 5px;
    width: 19%;
    min-height: 500px;    
}

.left_content {
    background-color: #dddddd;
    margin-top:6%;
    padding: 5px;
    margin-left: 19%;
    min-height: 505px;
}
#bottom {
   position: absolute;
   clear:both;
   left: 0; right: 0;
   background-color: #292C2E;
   color:grey;
   height: 60px;
}

